default_mode "locked"
default_layout "backend"
pane_frames false
scroll_buffer_size 5000
on_force_close "detach"
show_startup_tips false
show_release_notes false
session_serialization true
web_server false
web_sharing "disabled"
