<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dsn</key>
	<string>https://431a890b20a2c9a387394f0b4917099e@o4511047757725696.ingest.de.sentry.io/4511047762640976</string>
	<key>organizationSlug</key>
	<string>sn-gv</string>
	<key>projectSlug</key>
	<string>zenban</string>
	<key>sendDefaultPii</key>
	<true/>
</dict>
</plist>
