<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zenban</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.berkaycit.zenban.notification</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.berkaycit.zenban.card</string>
			<key>UTTypeDescription</key>
			<string>Zenban Card</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Bonsplit Tab Transfer</string>
			<key>UTTypeIdentifier</key>
			<string>com.splittabbar.tabtransfer</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>cmux Sidebar Tab Reorder</string>
			<key>UTTypeIdentifier</key>
			<string>com.cmux.sidebar-tab-reorder</string>
		</dict>
	</array>
</dict>
</plist>
