<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>cmux.sdef</string>
	<key>NSCameraUsageDescription</key>
	<string>Zenban uses camera access for websites opened inside the embedded cmux browser.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Zenban uses microphone access for websites opened inside the embedded cmux browser.</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New $(PRODUCT_NAME) Workspace Here</string>
			</dict>
			<key>NSMessage</key>
			<string>openTab</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New $(PRODUCT_NAME) Window Here</string>
			</dict>
			<key>NSMessage</key>
			<string>openWindow</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.berkaycit.zenban.card</string>
			<key>UTTypeDescription</key>
			<string>Zenban Card</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.splittabbar.tabtransfer</string>
			<key>UTTypeDescription</key>
			<string>cmux Tab Transfer</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.cmux.sidebar-tab-reorder</string>
			<key>UTTypeDescription</key>
			<string>cmux Sidebar Tab Reorder</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
